/* =============================== */
/* SCROLL INDICATOR WRAPPER */
/* =============================== */

.nrj-scroll-indicator-wrapper {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer;
  z-index: 50;
}
.triangle-down {
  width: 0;
  height: 0;

  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 18px solid white;

  margin-top: 6px;
  cursor: pointer;

  transition: transform 0.3s ease;
}

.triangle-down:hover {
  transform: translateY(4px);
}
/* =============================== */
/* TEXT */
/* =============================== */

.nrj-scroll-indicator-text {
  font-family: "Roboto Flex", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  color: #ffffff;

  opacity: 0.85;
  margin-bottom: 6px;

  text-transform: lowercase;
}

/* =============================== */
/* ARROW */
/* =============================== */

.nrj-scroll-indicator-arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nrj-scroll-indicator-arrow span {
  display: block;
  width: 10px;
  height: 10px;

  border-right: 2px solid white;
  border-bottom: 2px solid white;

  transform: rotate(45deg);

  margin: 2px;

  animation: nrjScrollArrowAnim 1.6s infinite;
}

.nrj-scroll-indicator-arrow span:nth-child(2) {
  animation-delay: 0.2s;
}

/* =============================== */
/* ANIMATION */
/* =============================== */

@keyframes nrjScrollArrowAnim {

  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-3px, -3px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(3px, 3px);
  }

}