/* SECTION BACKGROUND */
#testi-section {
  position: relative;
  padding: 4rem 8%;
  text-align: center;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* TITLE */
.testi-title {
  font-family: "Fraunces", serif;
  font-size: 3rem;
  color: #f6a61d;
  margin-bottom: 3rem;
}

/* CONTAINER */
.testi-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
}

/* GLASS CARD */
.testi-card {
  display: flex;
  align-items: flex-start;
  gap: 2rem;

  max-width: 950px;
  padding: 2.5rem;

  border-radius: 25px;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  border: 1px solid rgba(255, 255, 255, 0.2);

  color: #fff;
  text-align: left;
}

/* IMAGE BOX */
.home-testi-img-box {
  width: 120px;
  height: 120px;
  min-width: 120px;
  flex-shrink: 0; 
  margin-top: 25px;
  border-radius: 16px;
  overflow: hidden;
}

.home-testi-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
   transform: scale(1.45);
}

/* CONTENT */
.testi-content p {
  font-size: 1rem;
  line-height: 1.7;
  margin-bottom: 1rem;
  color: #fff;
}

.testi-content h4 {
  font-size: 1rem;
  color: #f6a61d;
  font-weight: 600;
}

/* BUTTON */
.testi-btn {
  margin-top: 2.5rem;
  display: inline-block;
  background: #f6a61d;
  color: #fff;
  padding: 0.7rem 1.8rem;
  border-radius: 999px;
  text-decoration: none;
  font-size: 0.9rem;
  transition: 0.3s;
}

.testi-btn:hover {
  background: #e59400;
}

/* ========================= */
/* TABLET */
/* ========================= */

@media (max-width: 1024px) {

  .testi-card {
    padding: 2rem;
    gap: 1.5rem;
  }

  .home-testi-img-box {
    width: 100px;
    height: 100px;
  }

  


}

/* ========================= */
/* MOBILE */
/* ========================= */

@media (max-width: 768px) {

  #testi-section {
    padding: 4rem 1.5rem;
  }

  .testi-title {
    font-size: 2rem;
  }

  .testi-card {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
  }
 .home-testi-img-box img {
  display: block; /* 🔥 important */
  width: 100% !important;
  height: 100% !important;
  
}
  .home-testi-img-box img {
  display: block; /* 🔥 important */
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  transform: scale(1.39);
}

  .testi-content p {
    font-size: 0.95rem;
  }

}